// Place all the styles related to the days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.calendar {
  width: 100%;
}
.day{
  display: block;
  padding-bottom: 72px;
  padding-top: 8px;
  padding-left: 8px;
  font-size: 16px;
  text-decoration: none;
  border: solid 1px #eeeeee;
  color: #56a5e2;
}
.day:hover{
  text-decoration: none;
  background-color: white;
  color: black;
}
.notmonth a{
  color: #BBBBBB;
}
.notmonth a:hover{
  color: black;
}
.today a{
  border: solid 2px lightgreen;
}
th{
  padding-left: 8px;
  color: gray;
}