.user-enter{
  margin-left: 10px;
}
.navbar{
  margin-bottom: 8px;
}
.month{
  text-align: center;
}
.month a:hover{
  text-decoration: none;
}li {
   list-style-type: none;
 }
.right_side{
  float: left;
}
.left_side{
  float: left;
}
.wrap{
  margin-top: 59px;
}
.actions{
  margin-top: 7px;
}